<html>

<head>
    <title>You're logged In</title>
</head>

<body>
    <h1>You're logged In</h1>
    <p>Here's the link to create new messages</p>
    <a href="messages/new">Create a new message</a>
</body>

</html>