<html>

<head>
    <title>Become a member</title>
</head>

<body>
    <form action="/membership/activate" method="post">
        <input type="password" placeholder="password" name="password" required />
        <button type="submit">Activate Membership</button>
    </form>
</body>

</html>