<html>

<head>
    <title>Sing Up</title>
</head>

<body>
    <form method="post" action="/sign-up">
        <input type="text" placeholder="First name" name="firstName" required />
        <input type="text" placeholder="Last name" name="lastName" required />
        <input type="text" placeholder="username" name="username" required />
        <input type="password" placeholder="password" name="password" required />
        <input type="password" placeholder="confirm password" name="confirmPassword" required />
        <button type="submit">Sing Up</button>
    </form>
</body>

</html>